# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/
*.iml
build/
app/build/
local.properties
/app/src/androidTest/java/androidTest/ApplicationTest.java
/app/src/test/java/test/ExampleUnitTest.java
/rxandroidmvp/src/androidTest/java/androidTest/ApplicationTest.java
/rxandroidmvp/src/test/java/test/ExampleUnitTest.java
